.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
 }
 .container >*{
    min-width: 25rem;
    max-width: 40rem;
 }
 img{
    border-radius: 2rem;
    flex: 1 0;
    object-fit: cover;
    height: 25rem;
    width: 25rem;
    margin: 1rem;
 }
 .details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1 0;
    border-radius: 1rem;
    color:black;
    padding:1rem;
    margin-left: 1rem;
 }
 .details .header{
    display: flex;
    justify-content: space-between;
 }
 .details .name{
    font-size: 1.5rem;
    font-weight: bold;
 }
 .details .favorite{
    font-size: 2rem;
    color: red;
 }
 .details .favorite.not{
    color: gray;
 }
 .details .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
 }
 .details .origins>span{
    padding: .5rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: .2rem;
    font-size: 1.2rem;
    background-color: whitesmoke;
 }
 .details .cook-time{
    margin: 1rem 0;
 }
 .details .cook-time span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
 }
 .details .price{
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 0;
    color:green;
 }
 .details .price::before{
    content: "Price: ";
    color: gray;
 }
 .details button{
    /*color: rgba(241, 12, 12, 0.885);
    padding: 1rem;
    border: 1px solid rgba(221, 77, 77, 0.577);
    border-radius: .5rem;
    background-color:whitesmoke;
    font-size: 1.5rem;*/
 display: inline-block;
     padding: 10px 30px;
     color: black;
     background-color: transparent;
     border: 2px solid crimson radius;
     font-size: 2rem;
     text-transform: camalecase;
     letter-spacing: 0.1rem;
     margin-top: 30px;
     transition: 0.3s ease;
     transition-property: background-color, color;
 }
 .details button:hover{
     
    color: white;
     background-color: crimson;
 }