<p>cart-page works!</p>
<div class="container">
  
    <ul>
       <li *ngFor="let cartItem of cart.items">
          <div>
             <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name" />
          </div>
          <div>
             <a routerLink="/food/{{cartItem.food.id}}">
                {{cartItem.food.name}}
             </a>
          </div>
          <div>
             <div >
                Qty : <input #quantitySelected (change)="changeQuantity(cartItem,quantitySelected.value)"
                   type="number" class="quantity" value="1" />
             </div>
 
          </div>
          <div>
             {{cartItem.price | currency}}
          </div>
          <div>
             <button class="remove-button" (click)="removeFromCart(cartItem)">Remove</button>
          </div>
       </li>
    </ul>
    <div class="checkout">
       <div class="food-count">{{cart.items.length}}</div>
       <div class="total-price">{{cart.totalPrice}}</div>
       <a routerLink="/checkout">Proced To Checkout</a>
    </div>
 </div>
 <div>
   <button routerLink="/">Back To Food </button>
 </div>
